body {
    color: white;
    font-family: "roboto", sans-serif;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 16px 150px 50px;
    flex: auto;
    font-weight: bold;
    color: #f9faf8;
    font-size: 24px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    list-style: none;
    font-weight: lighter;
    font-size: 18px;
}

a {
    display: flex;
    text-decoration: none;
    color: #e5e7eb;
}

.space1 {
    display: flex;
    min-width: 100px;
}

.test {
    display: flex;
    background-color: #1F2937;
    flex: 1;
}

.h1 {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    flex: auto;
    padding: 50px 0px 100px 150px;
    margin: 0;
}

h1 {
    margin: 0;
    max-width: 450px;
    font-size: 48px;
}

p {
    margin-top: 4px;
    max-width: 450px;
    font-size: 18px;
    color: #e5e7eb;
}

button {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 30px;
}

.image {
    display: flex;
    height: 200px;
    width: 450px;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    margin: 60px 150px 0 0;
    flex: auto;
}

.img1 {
    height: 200px;
    width: 500px;
}

button {
    font-weight: bold;
    font-family: "roboto", sans-serif;
    background-color: #3882F6;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 8px;
}

.container1 {
    display: flex;
    flex: auto;
    justify-content: center;
    gap: 52px;
}

.container2 {
    display: flex;
    flex: auto;
    justify-content: center;
    gap: 52px;
    margin-bottom: 50px;
    padding: 50px 0 125px 0;
}

.title1 {
    color:#1F2937;
    font-size: 36px;
    font-weight: bold;
    margin-top: 40px;
}

.info {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border-color: #3882F6;
    border-style: solid;
}

.text {
    color: #1F2937;
    text-align: center;
}

.image2 {
    display: flex;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 12px;
}

.test2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 100px 300px 100px 300px;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

.reference {
    font-weight: bolder;
    font-size: 24px;
    color: #1F2937;
    align-self: flex-end;
}